html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Raleway', sans-serif;
    background-color: #faf0e6;
}
h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
}

.question {
	font-weight: 600;
    font-size: 20px;
}
.answers {
    margin-bottom: 20px;
    font-size: 15px;
}
#results {
    margin-bottom: 20px;
    font-size: 15px;
}
.abox {
    margin-left: 10px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}